# Ignore executables
assembler
decoder
emulator

# Ignore files
.DS_Store

# Ignore directories
Testing/
.vscode/

# Ignore test executables
cpu_tests
integration_tests

# Don't ignore directory contents with same name as executables
!assembler/
!emulator/
